<section id="sobre-mi" class="info">
    <div class="container-fluid text-center">

      <div class="row">

        <div class="col-3">
          <button id="btn2" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#fotoPerfil"><i class="fa-solid fa-pencil"></i></button>
          <img src="assets/img/foto maxi.jpg" class="rounded-circle w-75" alt="..." title="...">
          <h2>Maximiliano N.</h2>
          <h2>Tuschi</h2>
        </div>

        <div class="col-8">
          <h3 class="informacion">Sobre mí</h3>

            <p id="historia">Me llamo Maximiliano, tengo 39 años, actualmente me encuentro
              trabajando como supervisor de poliducto en YPF, me decidi a realizar este curso para progresar dentro de la
              compania, mi lugar de trabajo esta hubicado en la terminal de Junin, Bs As.</p>
        </div>

        <div class="col-1">
          <button id="btn1" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#infoPrincipal"><i class="fa-solid fa-pencil"></i></button>
      </div>
      </div>

    </div>
</section>
      
        <app-modalperfil></app-modalperfil>
        <app-modalbanner></app-modalbanner>
