<section id="educacion" class="educacion">
    <div class="contenedor-fluid">
    <div class="row">

      <div class="col-2">
        <ul>
         <li *ngFor="let educ of educacion">
          <img [src]="educ.img" alt="Logo Institucion" [style.height]="educ.logoalto" [style.width]="educ.logoancho"[style.margin-top]="educ.top"[style.margin-left]="educ.left">
         </li>       
        </ul>
</div>

       <div id="edu" class="col-8">
<div>
<h4>Educacion</h4>  
<div *ngFor="let edu of educacion">
<h6>{{edu.titulo}}</h6>
<p>{{edu.inicio}} - {{edu.fin}}</p>
<br>
</div>

</div>
       </div>          

       <div class="col-2">

  
       </div>
    </div>
  </div> 
   
  </section>
