
        
    <ul class="list-group list-group-horizontal">
    
        <li id="red" class="list-group-item"><a href="https://es-la.facebook.com/" target="blank"><i class="fa-brands fa-facebook fa-xl"></i></a></li>
        <li id="red" class="list-group-item"><a href="https://github.com/Maxituschi" target="blank"><i class="fa-brands fa-github fa-xl"></i></a></li>
        <li id="red" class="list-group-item"><a href="https://www.gmail.com/mail/help/intl/es/about.html?iframe/"target="blank"><i class="fa-solid fa-envelope fa-xl"></i></a></li>
        <li class="list-group-item"><i class="fa-solid fa-user-lock fa-lg" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"></i></li> 
    
      </ul>