  <section class="proyectos">
  <div class="content-fluid">
    <div class="row">

      <div class="col-2">
        <ul>
         <li *ngFor="let proyecto of proyectos">
          <img [src]="proyecto.img" alt="Logo del Proyecto" [style.height]="proyecto.logoalto"[style.width]="proyecto.logoancho"[style.margin-top]="proyecto.top"[style.margin-left]="proyecto.left">
         </li>
        </ul>
      </div>

       <div *ngFor="let proyecto of proyectos" id= "proyec" class="col-8">
        <h4>Proyectos</h4>
        <h6>{{proyecto.institucion}}</h6>
        <P>{{proyecto.nombre}}</P>              
      </div>

      <div class="col-2">
      </div>

    </div>
  </div>

  </section>

