 <div class="modal fade" id="infoExperiencia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Modificar Informacion Experiencia</h5>
          
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">              
        <div class="mb-3 row">
           <div class="col-sm-3">
            <h6>Logo de la empresa:</h6>
           </div>
           <div class="col-sm-8">     
            <input type="file" class="form-control" id="logoEmpresa">
           </div>
        </div>

        <div class="mb-3 row">

          <div class="col-sm-3">
            <h6>Nombre de la Empresa:</h6>
          </div>
          <div class="col-sm-8">
           <textarea class="form-control" id="logoEmpresa"></textarea>
          </div>               

       </div>
        
        <div class="mb-3 row">

           <div class="col-sm-3">
             <h6>Duracion en el Puesto:</h6>
           </div>
           <div class="col-sm-8">
            <textarea class="form-control" id="logoEmpresa"></textarea>
           </div>               

        </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Guardar cambios</button>
        </div>
      </div>
    </div>
 </div> 
