<section id="proyectos" class="proyectos">
  <div class="content-fluid">
    <div class="row">

      <div class="col-2">
        <ul>
         <li><img src="assets/img/MINIATURA-ARGEPROGR.jpg" id="logoargentina" alt="Logo del Proyecto"></li>
        </ul>
      </div>

      <div id="proyec" class="col-8">
      <h4>Proyectos</h4>
      <h6>Aregentina Programa</h6>
      <P>Mi porfolio</P>
     <br>
        
      </div>

      <div class="col-2">

      <ul>
        <li id="pro"><button id="btn_edu_1" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#infoProyectos"><i class="fa-solid fa-pencil"></i></button></li>
        <li id="pro"><button id="btn_edu_1" class="btn btn-info"><i class="fa-solid fa-trash-can"></i></button></li>
        <li id="pro"><button id="btn_edu_1" class="btn btn-info"><i class="fa-solid fa-plus"></i></button></li>
      </ul>
      
      <app-modalproyectos></app-modalproyectos>
     
      </div>

    </div>

  </div>

 </section>

