<section id="educacion" class="educacion">
    <div class="contenedor-fluid">
    <div class="row">

     <div class="col-2">
          <ul>
         <li><img src="assets/img/MINIATURA-ARGEPROGR.jpg" id="primerlogo" alt="..."></li>
         <li><img src="assets/img/IAS.jpg" id="segundologo" alt="..."></li>
         <li><img src="assets/img/Instituto 20.jpg" id="tercerlogo" alt="..."></li>
         <li><img src="assets/img/escuela tecnica.jpg" id="cuartologo" alt="..."></li>
          </ul>
     </div>
  
     <div id="edu" class="col-8">
  <div>
  <h4>Educacion</h4>  
  
  <h6>Argentina Programa</h6>
  <p>Desarrollador Junieor<br>
  Noviembre 2021 - Actualidad</p>
  <br>
  <h6>Licenciado en Seguridad e Higiene en el Trabajo</h6>
  <P>Octubre 2006 - Septiembre 2012</P>
  <br>
  <h6>Profesor en Electronica</h6>
  <P>Desde 2001 - Hasta 2005</P> 
  
  <br>
  
  <h6>Escuela Tecnica N° 1</h6>
  <P>Octubre 1996 - Septiembre 2001</P>
  <br>
  </div>
     </div>           

     <div class="col-2">

  
          <ul>
          <li id="educ"><button id="btn_edu_1" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#infoEducacion"><i class="fa-solid fa-pencil"></i></button></li>
          <li id="educ"><button id="btn_edu_1" class="btn btn-info"><i class="fa-solid fa-trash-can"></i></button></li>
          <li id="educ"><button id="btn_edu_1" class="btn btn-info"><i class="fa-solid fa-plus"></i></button></li>
        </ul>
        
        <app-modaleducacion></app-modaleducacion> 

     </div>

    </div>
  </div> 
   
  </section>
