<section id="experiencia" class="experiencia">
    
    <div class="contenedor-fluid">
      <div class="row">

      <div  class= "col-2" id="exper">

        <ul>
          <li *ngFor="let exp of experiencia">
            <img [src]="exp.img" id="quintologo" alt="..." [style.height]="exp.logoalto"[style.width]="exp.logoancho"[style.margin-top]="exp.top"[style.margin-left]="exp.left">
          </li>                    
        </ul>

      </div>
    
      <div class="col-8 ">
        <div>
            <h4>Experiencia</h4>

          <div *ngFor="let exp of experiencia">
            <h6>{{exp.empresa}}</h6>
            <p>{{exp.inicio}} - {{exp.fin}}</p>
            <br>
          </div>
        </div>
      </div>

    
    </div>
  </div> 
    
  </section>
