.habilidades{
    border-style: solid;
    border-width: 0.15rem;
    border-radius: 1rem;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 1.4rem;
}
#habil{
    margin-left: -4rem;  
}
#septimologo{    
    height: 45px;
    width: 45px;
    margin-top: 2.3rem; 
    margin-left: 1rem;  
    }
#octavologo{    
    height: 45px;
    width: 45px;
    margin-top: 1.3rem; 
    margin-left: 1rem;   
    }
ul{
    list-style: none;
}