.footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #4343a4;
    height: 4rem;
    
   
}
.list-group-item {
   color: #0d6efd;
    }

#arriba{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    --bs-list-group-item-padding-x: 1rem;
    border-radius: 0.5rem;
    
    }