#exp{    
    padding-top: 2rem;
    padding-right: 1rem  ;
    padding-left: 1.5rem;
    float: left;
    align-content: center;        
} 

ul{
    list-style: none;
}

.experiencia{
    border-style: solid;
    border-width: 0.15rem;
    border-radius: 1rem;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-left: 1rem;
    padding-top: 0.5rem;  
    color: #7dc0c0;
    font-family: cursive;
}
#exper{
    margin-left: -4rem;
}
#quintologo{
    height: 60px;
    width: 110px;
    margin-top: 2rem;
    margin-left: 3rem;
}
#sextologo{
    height: 40px;
    width: 110px;
    margin-top: 2.2rem;
    margin-left: 3rem;
}