<section id="experiencia" class="experiencia">
    
    <div class="contenedor-fluid">

   <div class="row">
  <div id="exper" class= "col-2">
    <ul>
    <li><img src="assets/img/logo-ypf.png" id="quintologo" alt="..."></li>
    <li><img src="assets/img/hasa.jpg" id="sextologo" alt="..."></li>
    </ul>
  </div>

  <div class="col-8">
  <div>
    <h4>Experiencia</h4>
    <h6>YPF</h6>
    <p>Septiembre 2011 - Actualidad</p>
    <br>
    <h6>HASA</h6>
    <P>Octubre 2006 - Septiembre 2011</P>
    <br>
    </div>
  </div>

  <div class="col-2">
    <ul>
      <li id="exp"><button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#infoExperiencia"><i class="fa-solid fa-pencil"></i></button></li>     
      <li id="exp"><button class="btn btn-info"><i class="fa-solid fa-trash-can"></i></button></li>
    </ul>

  </div>

  <app-modalexperiencia></app-modalexperiencia>

   </div>

      
    </div>
    
</section>



<!-- <li *ngFor="let of" (click)="onSelect()"></li> -->
<!-- como hacer la base de datos o la logica -->

<!-- <div *ngFor="let experiencia of experiencias"  class="row">
        <div id="exper" class= "col-2">
          <ul>
          <li><img [src]="experiencia.imagen"  [alt]="experiencia.logo_YPF" id="quintologo"></li>
          <li><img src="assets/img/hasa.jpg" id="sextologo" alt="..."></li>
          </ul>
        </div>
    
        <div class="col-8">
        <div>
          <h4>Experiencia</h4>
          <h6>{{experiencia.empresa}}</h6>
          <p>{{experiencia.inicio}} {{experiencia.fin}}</p>
          <br>
          <h6>HASA</h6>
          <P>Octubre 2006 - Septiembre 2011</P>
          <br>
          </div>
        </div>

        <div class="col-2">
          <ul>
            <li id="exp"><button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#infoExperiencia"><i class="fa-solid fa-pencil"></i></button></li>     
            <li id="exp"><button class="btn btn-info"><i class="fa-solid fa-trash-can"></i></button></li>
          </ul>
      
        </div>
      
        <app-modalexperiencia></app-modalexperiencia>

      </div>

      "experiencias":[
      {
      "logo_YPF": "",
      "empresa": "YPF",
      "inicio": "2011",
      "fin": "Actualidad"
      },

      {
        "logo_HASA": "",
        "empresa": "HASA",
        "inicio": "2006",
        "fin": "2011"
      }
      
      ] -->